
<header id="js-header" class="u-header u-header--static u-shadow-v19">
  <div class="u-header__section g-brd-bottom g-brd-dark g-pt-18">
    <div class="container">
      <div class="row align-items-center">
        <!-- Logo -->
        <div class="col-md-2 g-hidden-md-down">
          <a href="#" class="navbar-brand">
            <span class=" g-font-size-30" style="color: black; font-size: 30px;"><em><strong>My Love</strong></em></span>
          </a>
          <i class="hs-admin-check"></i>
          <i class="fa-regular fa-check"></i>
        </div>
        <!-- End Logo -->
  
        <!-- Name -->
        <div class="col-8 col-md-10">
            <div>BỆNH VIỆN THANH NHÀN</div>
            <div>Lương y như từ mẫu </div>
        </div>
        <!-- End Name -->
  
        <!-- Account -->
        <!-- <div class="col-4">
          <a id="account-dropdown-invoker" class="media align-items-center float-right
                            " href="#!" aria-controls="account-dropdown" aria-haspopup="true" aria-expanded="false"
            data-dropdown-target="#account-dropdown" data-dropdown-type="css-animation" data-dropdown-duration="300"
            data-dropdown-hide-on-scroll="false" data-dropdown-animation-in="fadeIn"
            data-dropdown-animation-out="fadeOut">
            <div class="d-flex g-width-30 g-height-30 mr-2">
              <img class="img-fluid rounded-circle" src="https://picsum.photos/seed/picsum/100/100"
                alt="Image Description">
            </div>
            <div class="media-body">
              <span class="d-block g-hidden-sm-down g-color-main g-font-weight-600 g-font-size-13">Martin</span>
            </div>
          </a>
  
          <ul id="account-dropdown"
            class="list-unstyled text-left g-width-160 g-brd-around g-brd-secondary-light-v2 g-bg-white rounded g-pos-abs g-right-0 g-py-5 g-mt-57"
            aria-labelledby="account-dropdown-invoker">
            <li>
              <a class="d-block g-color-secondary-dark-v1 g-color-primary--hover g-text-underline--none--hover g-py-5 g-px-20"
                href="#!">My Account</a>
            </li>
            <li>
              <a class="d-block g-color-secondary-dark-v1 g-color-primary--hover g-text-underline--none--hover g-py-5 g-px-20"
                href="#!">Notifications</a>
            </li>
            <li>
              <a class="d-block g-color-secondary-dark-v1 g-color-primary--hover g-text-underline--none--hover g-py-5 g-px-20"
                href="#!">Settings</a>
            </li>
            <li>
              <a class="d-block g-color-secondary-dark-v1 g-color-primary--hover g-text-underline--none--hover g-py-5 g-px-20"
                href="#!">Signout</a>
            </li>
          </ul>
        </div> -->
        <!-- End Account -->
      </div>
    </div>
  </div>
</header>